* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Bellota Text', cursive;
  background: white;
  color: black;
}

.navbar {
  background: #F28F3B;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-left: 220px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.navbar ul {
  margin: 0 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 55px;
}

.navbar ul .navheader {
  line-height: 1;
  font-size: 2em;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: white;
}

.navbar ul .navbutton button {
  border: 0;
  display: inline-block;
  color: white;
  font-size: 1.2em;
  background: transparent;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

aside {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #C8553D;
  width: 220px;
  padding-top: 55px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

aside ul {
  list-style: none;
  width: 100%;
}

aside ul li {
  display: block;
  padding: 8px;
  font-size: 1.2em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFD5C2), color-stop(50%, transparent));
  background: linear-gradient(to right, #FFD5C2 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right top;
}

aside ul li:hover {
  background-position: left bottom;
}

aside ul li:hover a {
  color: black;
}

aside ul li a {
  text-decoration: none;
  color: white;
}

aside ul li a:before {
  content: '\f105';
  font-family: FontAwesome;
  margin-right: 8px;
}

#content {
  margin-left: 220px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

#content .mainimg {
  width: 300px;
  margin-top: 32px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#content .mainimg:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.15);
}

#content .mainheading {
  font-size: 64px;
  text-align: center;
  margin: 32px 0;
  font-family: 'Patua One', cursive;
}

#content .maintext {
  padding: 0 32px;
  max-width: 840px;
  margin: auto;
  text-align: justify;
}

#content .subheading {
  display: -ms-grid;
  display: grid;
  margin-top: 48px;
  font-size: 2em;
  place-items: center;
  height: 200px;
  color: #FFFFFF;
  background-color: #F28F3B;
}

#content .membersection {
  margin: 32px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  max-width: 990px;
}

#content .membersection .member {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  border-radius: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#content .membersection .member:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

#content .membersection .member .memberimg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#content .membersection .member .membername {
  font-size: 24px;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content .membersection .member .membername:hover {
  text-decoration: underline;
}

#content .membersection .member .membername .crown {
  width: 30px;
  margin-left: 8px;
  height: auto;
  z-index: -1;
}

#content .membersection .member .memberdesignation {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

#content .membersection .member .crown {
  position: relative;
  top: 0;
  right: 0;
  width: 40px;
}

#content .membersection .rank1 {
  border: 5px solid #C8553D;
}

#content .membersection .rank2 {
  border: 5px solid #F28F3B;
}

#content .membersection .rank3 {
  border: 5px solid #FFD5C2;
}

#content .footer {
  margin-top: 32px;
  padding: 16px;
  font-size: 24px;
  text-align: center;
  background: #588B8B;
  color: white;
  font-weight: 600;
}

@media only screen and (max-width: 1188px) {
  #content .membersection {
    margin: 24px 24px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .navbar {
    margin-left: 0;
  }
  .navbar ul .navheader {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .navbar ul .navbutton {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  aside {
    left: -250px;
  }
  #content {
    margin-left: 0;
  }
  #content .mainheading {
    font-size: 40px;
    text-align: center;
    margin: 16px 0;
  }
  #content .membersection {
    margin: 16px 16px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */